spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:hhplus
    username: sa
    password:

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create

  h2:
    console:
      enabled: true
      path: /h2-console

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html