spring:
  application:
    name: hhplus
  profiles:
    active: local
  jpa:
    open-in-view: false
    properties:
      hibernate.timezone.default_storage: NORMALIZE_UTC
      hibernate.jdbc.time_zone: UTC

